//- components/header.pug
header
    nav.navbar.navbar-expand-md.navbar-light.sticky-top
      div.container
        a.navbar-brand(href='/')
          img.paws-header__logo(src='/images/pawsaroundmotown-horizontal-crop.png', alt='Paws Around Motown')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item(class=(page=='home') ? 'active' : '')
              a.nav-link(href='/') Home
                if page === 'home'
                  span.sr-only (current)
            li.nav-item(class=(page=='about') ? 'active' : '')
              a.nav-link(href='/about') About
                if page === 'about'
                  span.sr-only (current)

            li.nav-item.dropdown(class=(page=='dog-walking-and-pet-sitting-services' || page=='training-services') ? 'active' : '')
              a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Pricing
              div.dropdown-menu(aria-labeledby='navbarDropdown')
                a.dropdown-item(href='/dog-walking-and-pet-sitting-services') Dog Walking and Pet Sitting
                  if page === 'dog-walking-and-pet-sitting-services'
                    span.sr-only (current)
                a.dropdown-item(href='/training') Dog Training
                  if page === 'training-services'
                    span.sr-only (current)
            
            li.nav-item(class=(page=='blog') ? 'active' : '')
              a.nav-link(href='/blog') Blog
                if page === 'blog'
                  span.sr-only (current)
            li.nav-item(class=(page=='team') ? 'active' : '')
              a.nav-link(href='/team') Our Team
                if page === 'team'
                  span.sr-only (current)
            li.nav-item(class=(page=='faq') ? 'active' : '')
              a.nav-link(href='/faq') FAQ
                if page === 'faq'
                  span.sr-only (current)
            li.nav-item
              a.nav-link(href='https://www.timetopet.com/portal/pawsaroundmotown') Existing Client Login
