extends layout

block header
  include components/header.pug

block content
  div.container
    +breadcrumb('Home', '/', 'About')

    h1.mt-4.mb-3 About Paws Around Motown
    div.container
      div.row.py-3
        div.col-sm-12.col-md-6.col-lg-6.p3
          h2.paws-heading_secondary Our Story
          p
          | Established in 2014 by me, Becky Lea, Paws Around Motown offers mobile services to 
          | fit into your busy lifestyle! We come to you and offer dog walking, pet sitting, 
          | obedience training, pet taxis, and yard cleanups all around Oakland County.
          p 
          | This company and the customers we serve is everything to me and I am dedicated to 
          | offering positive reinforcement pet services by people who love animals as much 
          | as I do. What started out with me, with one dog, and a dream has flourished and 
          | grown 350 customers strong with 20 pet sitters.
          p
          | Every Pet is different and we pride ourselves on knowing each pet as an individual 
          | and developing a care plan suited for each individual. What makes them tick, what 
          | do they like, what do they not like. We love all animals, all breeds, all shapes 
          | and all sizes. Love does not discriminate.

        div.col-sm-12.col-md-6.col-lg-6.p3
          img.mx-auto.d-block.img-fluid(src='images/becky-and-dogs.jpg' alt='Becky Lea and her dogs')

      div.row.py-3
        div.col-sm-12.col-md-6.col-lg-6.p3
          h2.paws-heading_secondary Our Mission
          p
          | To provide a safe, stress-free, and quality pet care experience for pet and pet 
          | parent. We do this through compassion, patience, honesty, open communication, 
          | and respect.

        div.col-sm-12.col-md-6.col-lg-6.p3
          img.mx-auto.d-block.img-fluid(height='300' src='images/winston.jpeg' alt='Becky Lea and her dogs')

block footer
  include components/footer.pug