extends layout

include mixins/classCard.pug
include mixins/hours.pug

block header
  include components/header.pug

block content
  div.container
    <section class="text-blueGray-700 ">
      <div class="flex flex-col items-center pt-4 md:flex-row">
        <div class="flex flex-col items-start mb-4 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
          <h1 class="mb-8 text-4xl font-black tracking-tighter text-black md:text-5xl title-font">Accredited and Award Winning Dog Training</h1>
          +hours('training')
          div.text-base.leading-relaxed.text-left.text-blueGray-600
            p.pt-2 We have three certified trainers on staff to assist you with all of your training needs. Our trainers are invested in your success and our mission is to provide positive reinforcement, force-free training to keep dogs in harmonious homes, and strengthen the bond between pet and pet parent.
            p.pt-2 Smaller class sizes ensure you and your pet receive more individualized attention. Our classes work fluidly together to provide a well-rounded training experience, but are great individually as well.
        </div>
        <div class="max-w-sm lg:max-w-md">
          <img class="object-cover object-center rounded-lg " alt="" src="/images/abc-certified-dog-trainer.png">
        </div>
      </div>
    </section>

    div.space-y-4
      <section class="text-blueGray-700 ">
        <div class="py-12">
          <div class="flex flex-wrap lg:flex-nowrap gap-2 md:gap-0">
            +classCard('/images/dog.svg', 'Puppy Right Start', '$350', 'For puppies 2-5 months. This course is everything you need to get your puppy set up in their new home and get started on the right paw. Includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=category:Puppy%20Right%20Start%20')
              li Five week course.
              li The first week is an in-home orientation, where we will help you set up your potty training and confinement areas. We will also teach you how puppies learn and other important items.
                em *If you do not want in-home orientation, the orientation may be booked over Zoom.
              li Learn the basics like sit, polite greetings, teaching your puppy to share, catching your puppy getting it right before they have a chance to get it wrong, and more!
              li Potty training, crate training, victorious vet visits, and everything else you need to get you and your puppy started off on the right paw.
              li Socialization principles.
              li Access to your trainer during office hours for the length of your program via phone or email.
              li Move up to our next level of training, Puppy Kindergarten, after graduation and receive $50 off.

            +classCard('/images/dog_2.svg', 'Puppy Kindergarten', '$350', 'For dogs 6-12 months. Includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=category:Puppy%20Kindergarten')
              li Five week course.
              li The first session is our orientation without dogs, where you will learn many important things like the science behind learning.
              li Learn how to teach your puppy basic manners including, sit, down, go to your place, loose leash walking, and more!
              li Working through distractions and real life situations.
              li Weekly practice guides.
              li Access to your trainer during office hours for the length of your program via phone or email.
              li Move up to our next level of training, Basic Manners, after graduation and receive $50 off.

            +classCard('/images/dog_3.svg', 'Basic Manners', '$350', 'For dogs 12 months and older. Includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=category:Basic%20Manners')
              li Five week course
              li The first session is our orientation without dogs which is an important catalyst of any training program.
              li Learn how to teach your dog basic manners including stay, heel, recall, and more
              li Working through distractions and real life situations.
              li Weekly practice guides.
              li Access to your trainer during office hours for the length of your program via phone or email.
              li Move up to our next level of training, Intermediate Manners, after graduation and receive $50 off.
          </div>
        </div>
      </section>

    div.container
      div.row.py-3
        div.pricing-container
          div.mb-4.space-y-4
            h2.text-3xl(id='Private-One-On-One-Training') Private One-On-One Training

            p For dogs of all ages. Includes:

            ul.list-disc.list-inside.ml-4
              li Five sessions in our Training Center of customized training curriculum
              li Working through distractions and real life situations
              li Weekly practice guides
              li Access to your trainer during office hours for the length of your program via phone or email
              li One free training tune-up session, redeemable within six months of graduation

            p $700

            a.btn.paws-btn_secondary(href='https://PAMtrainingschedule.as.me/?appointmentType=31294431') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Day-Training') Day Training

            p We take your pup on the learning experience of a lifetime! You drop your best friend off at our training center between 9 am and 11 am. We do five hours of training and socialization exercises with a maximum of three other dogs.
            p In between training we do play sessions, rest sessions, and lots of walks. Then you pick up your best friend between 4 pm and 5:30 pm.
            p For each day of training you will receive a file containing demo videos from our training library and written handouts to work with your pup at home.
            p Each week a transfer session is required so we can be sure you are set up for training success!
            p We require an orientation and a minimum of five sessions per dog and your first session will include a training and behavioral assessment.

            p Package price: $1250

            a.btn.paws-btn_secondary(href='https://PAMtrainingschedule.as.me/?appointmentType=category:Day%20Training') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='In-Home-Private-Training') In-Home Private Training

            p Our private in-home training program is done in your home and customized for you and your dog. This is a five week program and includes:
            
            ul.list-disc.list-inside.ml-4
              li Five to ten private sessions in your home depending on your needs
              li One orientation and goal planning session in your home
              li One free training tune-up session, redeemable within six months of graduation
              li Full access to your trainer by phone or email during your program for any questions or assistance you may need

            p Starting at $1300

            a.btn.paws-btn_secondary(href='https://PAMtrainingschedule.as.me/?appointmentType=31294470') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Lunch-and-Learn-Training') Lunch and Learn Training

            p Are you currently enrolled in one of our training programs or have graduated from one of our training programs and need consistency in walk training to reinforce and keep your training on track? Book a walk with a certified trainer to fine tune and consistently practice polite walking skills (heel and loose leash walking for example). Perfect for the busy pet parent!
            p
              span.font-italic *Prerequisite: Current enrollment or graduation from any Paws Around Motown training program

            p 45-60 minute walk $55

            p Purchase more and save!
            ul.list-disc.list-inside.ml-4
              li Package of 10: $500 
                span.font-italic (save $50)
              li Package of 20: $950 
                span.font-italic (save $150)

            a.btn.paws-btn_secondary(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Training-for-Pet-Parents') Pet Parents - Pet First-Aid and CPR
            p 
              | There is no 911 for pets. This course leads to certification in Pet First Aid and CPR so that 
              | you can save your pet's life in an emergency.

            h4 Live online five-hour pet first-aid and CPR class

            ul.list-disc.list-inside.ml-4
              li General Course - $75
              li Certification Course - $135

            a.btn.paws-btn_secondary(href='tel:248-729-6772') Call now

block footer
  include components/footer.pug
