extends layout

include mixins/classCard.pug
include mixins/hours.pug

block header
  include components/header.pug

block content
  div.container
    <section class="text-blueGray-700 ">
      <div class="flex flex-col items-center pt-4 md:flex-row">
        <div class="flex flex-col items-start mb-4 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
          <h1 class="mb-8 text-4xl font-black tracking-tighter text-black md:text-5xl title-font">Accredited and Award Winning Dog Training</h1>
          +hours('training')
          div.text-base.leading-relaxed.text-left.text-blueGray-600
            p.pt-2 We have three certified trainers on staff to assist you with all of your training needs. Our trainers are invested in your success and our mission is to provide positive reinforcement, force-free training to keep dogs in harmonious homes, and strengthen the bond between pet and pet parent.
            p.pt-2 Smaller class sizes ensure you and your pet receive more individualized attention. Our classes work fluidly together to provide a well-rounded training experience, but are great individually as well.
        </div>
        <div class="max-w-sm lg:max-w-md">
          <img class="object-cover object-center rounded-lg " alt="" src="/images/abc-certified-dog-trainer.png">
        </div>
      </div>
    </section>

    div.space-y-4
      <section class="text-blueGray-700 ">
        <div class="py-12">
          <div class="flex flex-wrap lg:flex-nowrap gap-2 md:gap-0">
            +classCard('/images/dog.svg', 'Puppy Right Start', '$350', 'For puppies under six months old. Includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=category:Puppy%20Right%20Start%20')
              li Six week course + orientation
              li Learn basic commands, polite greetings, catching your puppy getting it right before they have a chance to get it wrong, and more
              li Potty training, crate training, and everything else you need to get you and your puppy started off on the right foot
              li Socialization principles
              li Working through distractions and real life situations
              li Weekly practice guides
              li Access to your trainer during office hours for the length of your program via phone or email

            +classCard('/images/dog_2.svg', 'Basic Manners', '$350', 'For dogs six months and older. Includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=category:Basic%20Manners')
              li Learn how to teach your dog basic manners, loose leash walking, and more
              li Working through distractions and real life situations
              li Weekly practice guides
              li Access to your trainer during office hours for the length of your program via phone or email

            +classCard('/images/dog_3.svg', 'Private In-Home Training', '$1,200', 'Our private in-home training program is done in your home and customized for you and your pet. This is a six week program and includes:', 'Register Now', 'https://PAMtrainingschedule.as.me/?appointmentType=31294470')
              li Six private sessions in your home + orientation
              li One orientation and goal planning session in your home
              li One free training tune-up session
              li Full access to your trainer by phone or email during your program for any question or assistance you may need
          </div>
        </div>
      </section>

    div.container
      div.row.py-3
        div.pricing-container
          div.mb-4.space-y-4
            h2.text-3xl(id='Private-Online-Training') Private Online Training 
            p 
              | Our private live online training program is done via Zoom and is a customized program for you 
              | and your pet. This is a six week program and includes:

            ul.list-disc.list-inside.ml-4
              li Six private sessions Zoom training sessions
              li One orientation and goal planning session via Zoom
              li One free training tune-up session via Zoom
              li Full access to your trainer by phone or email during your program for any question or assistance you may need
              li Access to our training video library for extra assistance

            p $900

            a.btn.paws-btn_primary.mx-1(href='https://PAMtrainingschedule.as.me/?appointmentType=31294506') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Dog-Training-at-our-Center') More Dog Training at Our Training Center
            p
              | Learn the basics of obedience training with your pet! Our center hosts courses 
              | for pets and pet parents at every level.

            p Courses include:
            ul.list-disc.list-inside.ml-4
              li Intermediate Training (must pass Basic Manners course) - $350
              li Advanced/Tricks (must pass Basic Manners and Intermediate courses) - $350
              li Pet First Aid and CPR - $135
              li Individual Training Tune-Up Sessions (must have completed a previous training curriculum) - $100

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call for course placement
          
          div.mb-4.space-y-4
            h2.text-3xl(id='Private-Training-In-Our-Center') Private Training In Our Center

            p For dogs of all ages. Includes:

            ul.list-disc.list-inside.ml-4
              li Six sessions in our Training Center of customized training curriculum + Orientation
              li Working through distractions and real life situations
              li Weekly practice guides
              li Access to your trainer during office hours for the length of your program via phone or email

            p $650

            a.btn.paws-btn_primary.mx-1(href='https://PAMtrainingschedule.as.me/?appointmentType=31294431') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Day-Training') Day Training

            p We take your pup on the learning experience of a lifetime! You drop your best friend off at our training center between 9 am and 11 am. We do five hours of training and socialization exercises with a maximum of three other dogs. Sessions can be private if your dog can't work with other dogs. In between training we do play sessions, rest sessions, and lots of walks. Then you pick up your best friend between 4 pm and 5:30 pm.
            p You will receive a video file of all your pup learned and written guides to work with them at home. We can also schedule a transfer session in person or via Zoom to work with you on what you pup learned so you can continue on with their training!

            p $250 per day

            a.btn.paws-btn_primary.mx-1(href='https://PAMtrainingschedule.as.me/?appointmentType=31294358') Schedule Now

          div.mb-4.space-y-4
            h2.text-3xl(id='Behavior-Modification-Training-Package') Behavior Modification Training Package

            p We work at your pet’s level and decide on the number of weekly training sessions during your goal planning session.
            p Whether in the center or at home we will work with you and your pet on behavioral issues including excessive barking, separation anxiety, leash reactivity, and lunging at cars.
            p Please contact us for placement.

            p $2500

            a.btn.paws-btn_primary.mx-1(href='https://calendly.com/d/cgc-kgp-j7q/book-a-call-to-discuss-training-options') Schedule a Call
   
          div.mb-4.space-y-4
            h2.text-3xl(id='Training-for-Pet-Parents') Pet Parents - Pet First-Aid and CPR*
            p 
              | There is no 911 for pets. This course leads to certification in Pet First Aid and CPR so that 
              | you can save your pet’s life in an emergency.

            h4 Live online 5-hour pet first-aid and CPR class

            ul.list-disc.list-inside.ml-4
              li General Course - $75
              li Certification Course - $135

            p.font-italic *When COVID restrictions lift, we will have these courses in-person, too.

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

block footer
  include components/footer.pug
