extends layout

block header
  include components/header.pug

block content
  div.container
    h1.text-4xl.mt-4.mb-3 Frequently Asked Questions
    div.container
      div.row.py-3
        img.rounded.mx-auto.d-block.h-96(src='images/dog-ear.jpg' alt='Dog with one ear up')
      div.row.py-3
        div#accordionExample.col.accordion
          div.card
            div#headingOne.card-header
              h2.mb-0
                button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                  | Will I have the same walker for every visit?
            div#collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
              div.card-body
                | At Paws Around Motown, we work as a team to cover all of our pet parent's needs. We invest in training our employees so that no matter which walker provides service, your pet is in experienced hands. Every employee is dog walker, pet sitter, and pet first aid &amp; CPR certified.
          div.card
            div#headingTwo.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                  | Who will have access to my house keys and property?
            div#collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
              div.card-body
                | We provide a lockbox to be placed anywhere you'd like which provides our employees with access to your key.
          div.card
            div#headingThree.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                  | Who will enter my house/property?
            div#collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
              div.card-body
                | Only an employee of Paws Around Motown will ever enter your house/property.
          div.card
            div#headingFour.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                  | How will I know my dog was walked and/or visited while I&apos;m not home?
            div#collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
              div.card-body
                | Paws Around Motown utilizes a pet sitting app, called Time to Pet, to keep you updated.
                | You will receive a real-time push notification when we check in and check out with a
                | GPS location so you know where we are. By clicking the chat bubble, you may then have
                | real-time communication with your walker/sitter through the app during your walk or visit.
                | Upon completion of our visit, you will receive photo(s) of your pet(s), a typed update of
                | how everything went, and a map of the walk route to view where we went
                | with your pets. Our clients often tell us that this is the best part of their day!
          div.card
            div#headingFive.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                  | Are you licensed, bonded, and insured?
            div#collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionExample')
              div.card-body
                | Yes! Paws Around Motown is licensed with the state of Michigan. Every employee is bonded
                | and insured through our pet sitting insurance company, Pet Sitters Associates, LLC.
          div.card
            div#headingSix.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
                  | Have all employees undergone background checks?
            div#collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordionExample')
              div.card-body
                | Yes, all employees must undergo and pass a background check prior to being employed by Paws Around
                | Motown.
          div.card
            div#headingSeven.card-header
              h2.mb-0
                button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
                  | Have any other questions?
            div#collapseSeven.collapse(aria-labelledby='headingSeven' data-parent='#accordionExample')
              div.card-body
                | Feel free to 
                a(href='mailto:support@pawsaroundmotown.com') email us
                | , or call us at 
                a(href='tel:729-6772') 248-729-6772

block footer
  include components/footer.pug