extends layout

block header
  include components/header.pug

block content
  div.paws-hero
    div.paws-hero__container
      div.paws-hero__content.mt-6
        h1.text-4xl Award Winning Dog Walkers &amp; Dog Trainers in Oakland County, Michigan!
        h3.text-3xl.pt-1 All for the love of pets!
        div.paws-hero__action-items.pt-2
          a.btn.paws-btn_secondary.paws-btn_large.mx-1.my-2(href='/dog-training') Register for Dog Training
          a.btn.paws-btn_primary.paws-btn_large.mx-1.my-2(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Register for Dog Walking
  div.paws-content-container_mobile
    div.paws-content_mobile
      h1.text-4xl.mb-2 Award Winning Dog Walkers &amp; Dog Trainers in Oakland County, Michigan!
      h3.text-3xl.pt-1.mb-2 All for the love of pets!
      div.paws-hero__action-items.pt-2
          a.btn.paws-btn_secondary.paws-btn_large.mx-1.my-2(href='/dog-training') Register for Dog Training
          a.btn.paws-btn_primary.paws-btn_large.mx-1.my-2(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Register for Dog Walking

  .container
    //- service cards
    div.row
      h2.text-3xl.ml-3.mt-4 Paws Around Motown Dog Walking &amp; Accredited Dog Training
      div.col-sm-12.col-md-6.col-lg-6.my-4
        div.paws__pricing-card.card
          div.card-body.text-base.space-y-4
            h4.card-title.text-2xl Dog Walking
            p Have a hound under your feet while you’re homeschooling?
            p Need your fur baby to zip around town while you’re in a conference call on Zoom?
            p Does your pup need some pampering while you embrace some self-care in a quiet space?
            h5.text-xl Let our Certified Dog Walkers Hook Up Your Pup!
            ul.card-text.list-disc.pl-10
              li 20, 30, 45, or 60-minute sessions
              li Discounted weekly rates
              li Free consultations
          div.card-footer
            a.btn.paws-btn_primary(href='/pricing#dog-walking') Find Out More &raquo;

      div.col-sm-12.col-md-6.col-lg-6.my-4
        div.paws__pricing-card.card
          div.card-body.text-base.space-y-4
            h4.card-title.text-2xl Dog Training
            p Are your walks a little too wild for you to enjoy?
            p Could your pup use some specialized sessions and a custom learning path?
            p Is your furry friend ready for some more advanced moves?
            h5.text-xl Try our Accredited Training for Dogs and courses for Pet Parents!
            p Licensed, Certified, and Trained Dog Trainers &amp; Dog Walkers Near You!
            ul.card-text.list-disc.pl-10
              li Field training with loose leash walking
              li Puppy training
              li Beginner, intermediate, and advanced classes
              li Live online dog training
              li Pet parent certification in CPR and pet first aid
              li Pet parent course on pet safety and care
          div.card-footer
            a.btn.paws-btn_primary(href='/training') Find Out More &raquo;

    div.row
      div.col-sm-12.my-4
        div.row
          div.col-md-7.space-y-4
            h2.featurette-heading.text-3xl With Paws Around Motown,
              span.text-muted  Your Fur Baby is in Good Hands
            ul.list-disc.pl-10
              li We’re your #1 choice because everything we do is for the love of your pets. 
              li Choose our dog walker service with confidence - everyone is a Certified Dog Walker!
              li We’re prepared for any unexpected situations and certified in Pet First Aid and CPR.
              li We’re all educated specialists ready to work with you!
            h3.text-2xl We pride ourselves in talking the talk and walking the walk!
          div.col-md-5.order-md-1
            img.featurette-image.img-fluid.mx-auto(src='/images/abc-certified-dog-trainer.png' alt='Animal Behavior College Certified Dog Trainer')

  div.container.paws-testimonial.mt-md-2.mb-md-4
    div.row
      div.paws-testimonial__heading.col-12.col-md-6.col-md-6.d-flex.flex-column.align-items-center
        h2.text-4xl.mt-5 Our customers love the care we provide for their pets!
        div.mt-3
          img(src='/images/dog_testimonial.png')
      div.paws-testimonial__content.col-12.col-md-6.d-flex.flex-column.justify-content-center.align-items-center
        div.paws-testimonial__review
          p.paws-testimonial__quotation-mark “
          p.paws-testimonial__quote 
            | Very professional service. You can tell that every person who works there loves animals.
          p.paws-testimonial__name Kristin M.

        div.paws-testimonial__review
          p.paws-testimonial__quotation-mark “
          p.paws-testimonial__quote 
            | We recommend this business to everyone with a pet!
          p.paws-testimonial__name Kara D.

        div.paws-testimonial__review
          p.paws-testimonial__quotation-mark “
          p.paws-testimonial__quote 
            | We couldn’t be happier and will definitely be singing praises to everyone we know.
          p.paws-testimonial__name Tiffany H.

  div.container
    //- feature sections
    div.row
      div.container
        hr.featurette-divider
        div.row
          div.col-md-12.space-y-4
            h2.featurette-heading.text-3xl Searching for “Dog Walking Services Near Me?” 
              span.text-muted Check out our service area! 

            p Now serving pets in these Oakland County neighborhoods!
            ul.card-columns.list-disc.pl-10
              li Berkley
              li Beverly Hills
              li Bingham Farms
              li Birmingham
              li Bloomfield Hills
              li Clawson
              li Ferndale
              li Franklin
              li Huntington Woods
              li Lathrup Village
              li Oak Park
              li Pleasant Ridge
              li Royal Oak
              li West Bloomfield
     
        hr.featurette-divider
        div.row
          div.col-md-7.space-y-4.pb-4
            h2.featurette-heading.text-3xl Check out our interview on
              span.text-muted  City Cable 15 in Southfield.
            p We had a blast filming with Jasper, Winston, and Malka!
          div.col-md-5.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/7FhwCYasLX8?rel=0&amp;showinfo=0' allowfullscreen)
        hr.featurette-divider

block footer
  include components/footer.pug