extends layout

block header
  include components/header.pug

block content
  div.paws-hero
    div.paws-hero__container
      div.paws-hero__content.mt-6
        h1 All-Inclusive Pet Care Services in Oakland County, Michigan
        h3.pt-1 We do it all because we love your pets!
        div.paws-hero__action-items.pt-1
          a.btn.btn-secondary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown') Customer Portal
          a.btn.paws-btn_primary.mx-1(href='/request-more-information') Book Now
  div.paws-content-container_mobile
    div.paws-content_mobile
      h1 All-Inclusive Pet Care Services in Oakland County, Michigan
      h3.pt-1 We do it all because we love your pets!
      div.paws-hero__action-items.pt-1
        a.btn.btn-secondary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown') Customer Portal
        a.btn.paws-btn_primary.mx-1(href='/request-more-information') Book Now

  div.container
    //- service cards
    div.row
      div.col-sm-12.col-md-6.col-lg-4.my-4
        div.paws__pricing-card.card
          div.card-body
            h4.card-title Dog Walking
            ul.card-text
              li 30, 45, and 60 minute sessions
              li Discounted weekly rates
              li Free consultations
          div.card-footer
            a.btn.paws-btn_primary(href='/pricing#dog-walking') Find Out More &raquo;
      div.col-sm-12.col-md-6.col-lg-4.my-4
        div.paws__pricing-card.card
          div.card-body
            h4.card-title Overnight Pet Care
            ul.card-text
              li Keep your pets in the comfort and safety of their own home
              li Keep your pets on their regular routine
              li Great for animals who suffer from separation anxiety of who need personalized attention
          div.card-footer
            a.btn.paws-btn_primary(href='/pricing#overnights') Find Out More &raquo;
      div.col-sm-12.col-md-6.col-lg-4.my-4
        div.paws__pricing-card.card
          div.card-body
            h4.card-title And more!
            ul.card-text
              li In-home dog training
              li Vacation visits
              li Yard waste clean up
              li Pet transportation
          div.card-footer
            a.btn.paws-btn_primary(href='/pricing') Find Out More &raquo;
    //- feature sections
    div.row
      div.container
        hr.featurette-divider
        div.row
          div.col-md-7
            h2.featurette-heading Have a rowdy pup?
              span.text-muted  Let us work with them!
            p 
              | Our owner, Becky, is a certified dog obedience trainer. Schedule her for trainings 
              | with you and your dog, or for one-on-one walking traning sessions with your dog.
          div.col-md-5.order-md-1
            img.featurette-image.img-fluid.mx-auto(src='/images/abc-certified-dog-trainer.png' alt='Animal Behavior College Certified Dog Trainer')
        hr.featurette-divider
        div.row
          div.col-md-7
            h2.featurette-heading Check out our interview on
              span.text-muted  City Cable 15 in Southfield.
            p We had a blast filming with Jasper, Winston, and Mocha!
          div.col-md-5.embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/7FhwCYasLX8?rel=0&amp;showinfo=0' allowfullscreen)
        hr.featurette-divider

block footer
  include components/footer.pug