extends layout

block append head
  <meta property="og:title" content="Paws Around Motown Black Friday Sale">
  <meta property="og:image" content="https://pawsaroundmotown.com/images/black-friday-dog.png">

block header
  include components/header.pug

block content
  div.container.px-4
    <section class="text-blueGray-700 ">
      <div class="flex flex-col items-center py-8 md:flex-row">
        <div class="flex flex-col items-start mb-4 text-left lg:flex-grow lg:w-1/2 lg:pr-24 md:mb-0">
          <h1 class="mb-8 text-6xl font-black tracking-tighter text-black title-font">Our Greatest Black Friday Sale Ever</h1>
          <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">We're offering great deals on some of our best dog training and dog walking services. Check out the deals below and schedule your services today! These deals will go as fast as your dogs can grab the turkey off the table.</p>
          <div class="flex flex-col justify-center lg:flex-row gap-x-2">
            a.btn.paws-btn_primary.py-4.px-4.font-bold(href='#deals') Check Out Our Deals
          </div>
        </div>
        <div class="max-w-sm lg:max-w-md hidden lg:block">
          <img class="object-cover object-center rounded-lg " alt="" src="/images/black-friday-dog.png">
        </div>
      </div>
    </section>

    <div class="lg:hidden">
      <img alt="" src="/images/black-friday-dog.png"/>
    </div>

    <div class="py-8 bg-white">
      <div class="max-w-7xl mx-auto">
        <div class="lg:text-center">
          <h2 id="deals" class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            | Paws Around Motown Black Friday Deals
          </h2>
          <p class="mx-auto mt-4 text-base text-gray-500">All deals are avaiable through midnight on Saturday, November 27, 2021. Need help? Contact <a href="mailto:support@pawsaroundmotown.com">support@pawsaroundmotown.com</a> for assistance.</p>
        </div>

        <div class="mt-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md text-white">
                  <img src="/images/sale.svg"/>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Puppy Right Start and Basic Manners Programs</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Get <span class="text-pink-500">$50 off</span> our two most popular training programs using coupon code BLACKFRIDAY when you schedule today!</dd>
              div.py-2.ml-16
                a.btn.paws-btn_primary(href='https://app.acuityscheduling.com/schedule.php?owner=22813151&owner=22813151&appointmentType=category:Basic%20Obedience%20Classes') Schedule Now
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md text-white">
                  <img src="/images/sale.svg"/>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Private In-Center Training Program</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Get <span class="text-pink-500">$50</span> off our private customized training program using coupon code BLACKFRIDAY when you schedule today!</dd>
              div.py-2.ml-16
                a.btn.paws-btn_primary(href='https://app.acuityscheduling.com/schedule.php?owner=22813151&location=834%20W.%2014%20Mile%20Rd.%2C%20Clawson%2C%20MI%2048017') Schedule Now
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md text-white">
                  <img src="/images/sale.svg"/>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Private In-Home Training</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Our private in-home training program is done in your home and customized for you and your pet. Get <span class="text-pink-500">$150 off</span> when you schedule today!</dd>
              div.py-2.ml-16
                a.btn.paws-btn_primary(href='https://calendly.com/becky-772/in-home-private-training-regular-price-1200') Schedule Now
            </div>

            <div class="relative">
              <dt>
                <div class="absolute flex items-center justify-center h-12 w-12 rounded-md text-white">
                  <img src="/images/sale.svg"/>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Dog Walking</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Purchase walks in advance on Black Friday! If you purchase a minimum of 5 walks you will receive <span class="text-pink-500">$5 off per walk</span>. Discounts will be applied on your invoice.</dd>
              div.py-2.ml-16
                a.btn.paws-btn_primary(href='https://www.timetopet.com/portal/pawsaroundmotown') Purchase Walks
            </div>
          </dl>
        </div>
      </div>
    </div>

block footer
  include components/footer.pug
