extends layout

block header
  include components/header.pug

block content
  div.container
    h1.text-4xl.mt-4.mb-3 Dog Walking &amp; Pet Sitting Services
    .container.mb-4.space-y-4
      .row
        section
          p 
            span.font-weight-bold Office Hours: 
            | 10 AM - 6 PM 
            span.font-weight-bold.ml-1 Walk Hours: 
            | 9 AM - 4 PM*
      .row
        p.font-italic *Need a walk outside our walk hours? Give us a call! We’ll find a way to make it work!

    div.container.pricing-container.mb-3
      ul.pricing-list
        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="dog-walking-services" name="Dog Walking Services")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2.paws-rotate-90
                  span.pricing-list__summary-title(title="Dog Walking Services") Dog Walking Services
              div.pricing-list__summary-description
                p No worries when your pup is out and about with a Paws Around Motown Certified Dog Walker!
            div.pricing-list__content.space-y-4
              p
                | Your fur baby will have fresh water, undivided attention, positive reinforcement, and a 
                | safe environment to smell the smells and stretch those muscles! All walks are private on-leash 
                | experiences and are offered between 9 am and 4 pm, but early and late walks are available for 
                | a small fee.

              ul.list-disc.list-inside.ml-4
                li 20-minute walk - $20
                li 30-minute walk - $30
                li 45-minute walk - $35
                li 60-minute walk - $40
                li 90-minute walk - $55
              .pricing-list__content-addons
                h3.text-2xl Add-Ons
                ul.list-disc.list-inside.ml-4
                  li $10 for before or after-hours walks
                  li $5 per dog for walks with more than two dogs
                  li $10 for walks on Saturdays and Sundays
              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now

        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="potty-breaks" name="Potty Breaks")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2
                  span.pricing-list__summary-title(title="Potty Breaks") Potty Breaks
              div.pricing-list__summary-description
                p No need to make your pup do the potty dance when you’re at work. Let Paws Around Motown give your fur baby a bladder break!
            div.pricing-list__content.paws-hide.space-y-4
              p
                | Along with the potty break, your furry friend will have some supervised time in your backyard with light play, a wellness 
                | check, and a water refill during each visit.

              ul.list-disc.list-inside.ml-4
                li 15-minute potty break in your backyard - $18
                li 20-minute potty break in your backyard - $20

              .pricing-list__content-addons
                h3.text-2xl Add-Ons
                ul.list-disc.list-inside.ml-4
                  li $10 for before and after-hours potty breaks
                  li $5 per dog for potty breaks with more than two dogs
                  li $10 for potty breaks on Saturdays and Sundays

              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now

        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="pooper-scooper" name="Pooper Scooper")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2
                  span.pricing-list__summary-title(title="Pooper Scooper") Pooper Scooper
              div.pricing-list__summary-description
                p
                  | The last thing you want to do after work is head outside and clean up the pet messes.
            div.pricing-list__content.paws-hide.space-y-4
              p
                | Let us do the dirty work for you with weekly pet-waste clean-ups!
              h3.text-2xl First Service or Monthly Clean Up
              ul.list-disc.list-inside.ml-4
                li One dog - $80
                li Two dogs - $100
                li Three or more dogs - $125
              h3.text-2xl Weekly Recurring Services
              ul.list-disc.list-inside.ml-4
                li One dog - $20
                li Two dogs - $26
                li Three or more dogs - $32
              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now

        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="visiting-walker-cat-sitter" name="Visiting Walker/Cat Sitter")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2
                  span.pricing-list__summary-title(title="Visiting Walker/Cat Sitter") Visiting Walker/Cat Sitter
              div.pricing-list__summary-description
                p
                  | Are you spending time away from home? Paws Around Motown can drop by for a visit and a walk!
            div.pricing-list__content.paws-hide.space-y-4
              p
                | Your pet will enjoy some time with a new friend between the hours of 9 am and 4 pm.
              p
                | Available between the hours of 8 am - 8 pm, minimum 3x per day for dogs and 1x per day for cats.
              ul.list-disc.list-inside.ml-4
                li 45-minute visit with a walk for up to two pets - $26
              .pricing-list__content-addons
                h3.text-2xl Add-Ons
                ul.list-disc.list-inside.ml-4
                  li $10 before or after-hours visits
                  li $5 for each additional dog over two
                  li $3 for each additional cat over two
                  li $10 for walks on Saturdays and Sundays
              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now

        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="small-dog-yappy-hour" name="Small Dog Yappy Hour")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2
                  span.pricing-list__summary-title(title="Small Dog Yappy Hour") Small Dog Yappy Hour
              div.pricing-list__summary-description
                p
                  | We’ve had a lot more time at home with our pets lately. But maybe they’re ready to meet some 
                  | new friends for a rigorous romp in our center!
            div.pricing-list__content.paws-hide.space-y-4
              p
                | This socialization club for small dogs is a great way to get them some indoor playtime with 
                | other pups and humans from Paws Around Motown! 
              p
                | We pick them up, transport them safely in individual crates for the ride there and back, and 
                | bring them home ready to relax!
              ul.list-disc.list-inside.ml-4
                li 2-3 hours of playtime, including safe transportation to and from our center - $60
                li Members receive a 10% discount
              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now

        li.pricing-list__item
          section.pricing-list__section.space-y-4
            div.pricing-list__summary.space-y-4
              h2.pricing-list__summary-heading.text-3xl(id="everything-but-the-slumber-pet-sitting" name="Everything but the Slumber Pet Sitting")
                button.pricing-list__summary-action
                  i.fas.fa-chevron-right.mr-2
                  span.pricing-list__summary-title(title="Everything but the Slumber Pet Sitting") Everything but the Slumber Pet Sitting
              div.pricing-list__summary-description
                p
                  | Tuck-in and breakfast services for your pet plus a private walk!
            div.pricing-list__content.paws-hide.space-y-4
              p
                | It can still be a party without an overnight guest!
              p
                | Your pet gets three hours of undivided attention in the evening, and we return first thing in the morning for a 
                | two-hour breakfast, private walk, and playtime.
              ul.list-disc.list-inside.ml-4
                li Pet sitting for up to two pets - $150
              .pricing-list__content-addons
                h3.text-2xl Add-Ons
                ul.list-disc.list-inside.ml-4
                  li $5 for each additional dog over two
                  li $3 for each additional cat over two
              .pricing-list__content-cta
                a.btn.paws-btn_primary.mx-1(href='https://www.timetopet.com/portal/pawsaroundmotown/create-account') Book Now
  
  script(type='text/javascript', src='/javascript/pricing.js')

block footer
  include components/footer.pug