extends layout

block header
  include components/header.pug

block content
  div.container
    h1.mt-4.mb-3 Request More Information
    div.container
      div.row.py-3
        div.col-sm-12.col-md-6.col-lg-6.order-md-2.order-md-2
          p
            | Give us some basic contact information and we will get back to you
            | with more information.
          form(action='https://formspree.io/xjnzroqx' method='POST')
            div.form-group
              input#first_name.form-control(required='true' placeholder='First Name' name='first_name' type='text')
            div.form-group
              input#last_name.form-control(required='true' placeholder='Last Name' name='last_name' type='text')
            div.form-group
              input#email-one.form-control(type='email' placeholder='Email' name='email')
            div.form-group
              input#phone.form-control(required='' placeholder='Phone Number' name='phone' type='tel')
            div.form-group
              input#city.form-control(required='' placeholder='City' name='city' type='text')
            |             Services needed:
            div.custom-control.custom-checkbox
              input#dog-walking.custom-control-input(type='checkbox' name='dog-walking')
              label.custom-control-label(for='dog-walking') Dog walking
            div.custom-control.custom-checkbox
              input#dog-training.custom-control-input(type='checkbox' name='dog-training')
              label.custom-control-label(for='dog-training') Dog training
            div.custom-control.custom-checkbox
              input#overnight-pet-sitting.custom-control-input(type='checkbox' name='overnight-pet-sitting')
              label.custom-control-label(for='overnight-pet-sitting') Overnight pet sitting
            div.custom-control.custom-checkbox
              input#pet-taxi.custom-control-input(type='checkbox' name='pet-taxi')
              label.custom-control-label(for='pet-taxi') Pet transportation
            div.custom-control.custom-checkbox
              input#yard-waste-cleanup.custom-control-input(type='checkbox' name='yard-waste-cleanup')
              label.custom-control-label(for='yard-waste-cleanup') Yard waste cleanup
            input(type='hidden' name='_subject' value='New Web Lead Submission')
            input(type='hidden' name='_next' value='https://pawsaroundmotown.com')
            input(type='text' name='_gotcha' style='display:none')
            br
            button.btn.btn-primary(type='submit') Submit
        div.col-sm-12.col-md-6.col-lg-6.order-md-1.order-lg-1
          img.rounded.img-fluid(src='images/landing-page-dog.png')

block footer
  include components/footer.pug