extends layout

block header
  include components/header.pug

block content
  div.container
    h1.mt-4.mb-3 Our Team

    div.container
      div.row.py-3
        img.img-fluid.rounded.mx-auto.d-block.py-3(width='600' src='images/becky.jpg' alt='Becky')
        img.img-fluid.rounded.mx-auto.d-block.py-3(width='600' src='images/megan.jpg' alt='Megan')
        img.img-fluid.rounded.mx-auto.d-block.py-3(width='600' src='images/kaylee.jpg' alt='Kaylee')

block footer
  include components/footer.pug