extends layout

block header
  include components/header.pug

block content
  div.container
    h1.mt-4.mb-3 Accredited In-Home and Center-Based Dog Training

    div.container
      div.row.py-3
        div.pricing-container
          div
            h2(id='In-Home-Obedience-Training-Package') In-Home Obedience Training Package
            p 
              | You and your pet learn the basics of obedience training in the comfort of your 
              | home! A certified trainer comes to your home a minimum of twice per week for a 
              | 30-45-minute training session with your pet! Commands include sit, down, stay, 
              | come, and loose leash walking.
            p What it includes:
            ul
              li Training consultation and goal planning session.
              li 4-6 weeks of training depending on the needs of your pup.
              li Customized training program created for your pet.
              li Weekly task list to practice with your pup.
              li 30-minute check-in call each week.
              li Tune-up session after training is completed.
              li 1-2 sessions in your home per week for training and coaching.
              li 2 sessions in the public location of your choosing to proof training with distraction.
            p $900 per student

          div
            h2(id='Lunch-and-Learn-Training-Package') Lunch and Learn Training Package
            p 
              | A certified trainer will come a minimum of twice per week for a 30-45 minute session to 
              | walk your dog and teach basic manners. Pet owners will meet with the trainer once per week 
              | to make sure the new skills are reinforced at home.
            p $55 per session per 30-45 minute session

          div
            h2(id='Live-Online-Pet-Training-Program') Live Online Pet Training Program
            p
              | Develop your pet’s skills and strengthen your bond while training your dog at home 
              | with the help of our certified trainers!
            p 
              | Attend one-on-one personalized pet training sessions via Zoom with your dog! Be 
              | granted access to our certified trainer’s training demo videos and optimize your 
              | pet’s skills in-home while receiving customized feedback to improve your pet’s 
              | retention and behavior.
            p Our Courses:
            ul
              li Puppy Training
              li Basic Manners Training
              li In-Home Classroom Training
            p What it includes:
            ul
              li Training consultation and goal planning session.
              li 4-6 weeks of training depending on the needs of your pup
              li 1-3 sessions live online per week for training and coaching based on your pets needs.
              li 30-minute video review session.
              li Tune-up session after training is completed.
            p $800 per student

          div
            h2(id='Dog-Training-at-our-Center') Dog Training at our Center
            p
              | Come learn the basics of obedience training with your pet! Our center hosts courses 
              | for pets and pet parents at every level.
            p Courses include:
            ul
              li Small dog socialization - $30 ($20 if currently enrolled in a training package)
              li Large dog socialization - $30 ($20 if currently enrolled in a training package)
              li Puppy Preschool - $150
              li Basic Obedience - $125
              li Intermediate - $125
              li Advanced - $125
            p Call for course placement
          
          div
            h2(id='Train-and-Play') Train and Play
            p 
              | We take your pup on the learning experience of a lifetime! We pick your best friend 
              | up and drive over to our training center for attentive 5-hours of training and 
              | socialization exercises with a maximum of four other dogs. Then, we take your 
              | fur-friend home to show off their new tricks!
            p Offered Monday and Wednesday
            p $250 per day, per pet

          div
            h2(id='Half-Day-Train-and-Play') Half-Day Train and Play
            p
              | Leave the training and socialization to us! Your pup comes to the Paws Around Motown 
              | pet training center for 2-hours of attentive training and socialization exercises 
              | while making new dog-friends.
            p Offered Monday and Wednesday
            p $175 per day, per pet
          
          div
            h2(id='Training-for-Pet-Parents') Training for Pet Parents
            p Learn how to care for your pet at every life stage and in emergencies!

            h3(id='Crash-Course-in-Pet-Safety-and-Care') Crash Course in Pet Safety and Care
            p
              | An extensive, eight hour course on how to care for your pet at every stage, 
              | from puppyhood to the golden years. PLUS gain the certification you need to 
              | save your pet’s life in an emergency.
            p Pet First Aid and CPR Certification included.
            p $135 per student

            h3(id='Pet-First-Aid-and-CPR-Certification') Pet First Aid and CPR Certification
            p 
              | There is no 911 for pets. This course leads to certification in Pet First Aid 
              | and CPR, so that you can save your pet’s life in an emergency.
            p $110 per student

block footer
  include components/footer.pug
