extends layout

block header
  include components/header.pug

block content
  div.container
    <section class="text-blueGray-700 ">
      <div class="flex flex-col items-center py-8 md:flex-row">
        <div class="flex flex-col items-start mb-4 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
          <h1 class="mb-8 text-4xl font-black tracking-tighter text-black md:text-5xl title-font">Accredited In-Home and Center-Based Dog Training</h1>
          <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">Our owner, Becky and our general manager, Megan are Certified Dog Obedience Trainers. Schedule training as a one-on-one session with you and your dog or register for one of our classes.</p>
          <div class="flex flex-col justify-center lg:flex-row gap-x-2">
            <p class="flex mb-2 text-blueGray-600"><span class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 rounded-full">
              <i class="far fa-building text-blue-500"></i>
            </span>Office Hours Monday through Saturday: 9am - 7pm</p>

            <p class="flex mb-2 text-blueGray-600"><span class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 rounded-full">
              <i class="fas fa-dog text-blue-500"></i>
            </span>Training Hours Every Day 9am - 9pm</p>
          </div>
        </div>
        <div class="max-w-sm lg:max-w-md">
          <img class="object-cover object-center rounded-lg " alt="" src="/images/abc-certified-dog-trainer.png">
        </div>
      </div>
    </section>

    div.space-y-4
      <section class="text-blueGray-700 ">
        <div class="items-center py-12">
          <div class="flex flex-wrap flex-grow lg:flex-nowrap items-center justify-center w-full gap-2 md:gap-0">
            div(class="w-full xl:w-2/6 md:w-2/6")
              div.relative.flex.flex-col.h-full.transition.duration-500.ease-in-out.transform.bg-white.border.rounded-lg.shadow-xl
                img(class="p-4 object-center w-full rounded-t-lg h-44 h-36" src="/images/dog.svg" alt="")
                div.p-6
                  h2.mb-4.text-base.uppercase.tracking-wider.text-blueGray-700 Puppy Preschool Class
                  strong(class="flex items-end mb-8 text-3xl font-black leading-none text-black lg:text-4xl") $350.00
                  p.flex.items-center.mb-4.text-base.font-medium.leading-relaxed.text-blueGray-700 For dogs under six months old!
                  ul.list-disc.list-inside
                    li 5 week course
                    li Learn basic commands
                    li Socialization principles and right start guide
                    li Weekly practice guides
                  a(class="block w-full px-4 py-2 mt-6 text-base text-center font-medium text-blue-600 transition duration-500 ease-in-out transform bg-blue-100 rounded-lg hover:bg-blue-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2" href="https://app.acuityscheduling.com/schedule.php?owner=22813151&owner=22813151&appointmentType=category:Training%20Center%20Classes" target="_blank") Register Now

            div(class="w-full xl:w-2/6 md:w-2/6")
              div.relative.flex.flex-col.h-full.transition.duration-500.ease-in-out.transform.bg-white.border.rounded-lg.shadow-xl
                img(class="p-4 object-center w-full rounded-t-lg h-44 h-36" src="/images/dog_2.svg" alt="")
                div.p-6
                  h2.mb-4.text-base.uppercase.tracking-wider.text-blueGray-700 Basic Obedience Class
                  strong(class="flex items-end mb-8 text-3xl font-black leading-none text-black lg:text-4xl") $350.00
                  p.flex.items-center.mb-4.text-base.font-medium.leading-relaxed.text-blueGray-700 For dogs six months and older.
                  ul.list-disc.list-inside
                    li 5 week course
                    li Learn basic obedience cues
                    li Weekly practice guides
                    li Full access to your trainer via email
                  a(class="block w-full px-4 py-2 mx-auto mt-6 text-base text-center font-medium text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md items-centerw-full focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-700" href="https://app.acuityscheduling.com/schedule.php?owner=22813151&owner=22813151&appointmentType=category:Basic%20Obedience%20Classes" target="_blank") Register Now

            div(class="w-full xl:w-2/6 md:w-2/6")
              div.relative.flex.flex-col.h-full.transition.duration-500.ease-in-out.transform.bg-white.border.rounded-lg.shadow-xl
                img(class="p-4 object-center w-full rounded-t-lg h-44 h-36" src="/images/dog_3.svg" alt="")
                div.p-6
                  h2.mb-4.text-base.uppercase.tracking-wider.text-blueGray-700 Private Virtual Basic Obedience
                  strong(class="flex items-end mb-8 text-3xl font-black leading-none text-black lg:text-4xl") $700.00
                  p.flex.items-center.mb-4.text-base.font-medium.leading-relaxed.text-blueGray-700 Private training for your pup!
                  ul.list-disc.list-inside
                    li Weekly private sessions (5 weeks on Zoom)
                    li Socialization principles and right start guide
                    li Crate and potty training
                    li Access to our virtual training library
                  a(class="block w-full px-4 py-2 mt-6 text-base text-center font-medium text-blue-600 transition duration-500 ease-in-out transform bg-blue-100 rounded-lg hover:bg-blue-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2" href="https://app.acuityscheduling.com/schedule.php?owner=22813151&owner=22813151&appointmentType=category:Private%20Online%20Training" target="_blank") Register Now
          </div>
        </div>
      </section>

    div.container
      div.row.py-3
        div.pricing-container
          div.mb-4.space-y-4
            h2.text-3xl(id='In-Home-Obedience-Training-Package') In-Home Obedience Training Package
            p 
              | You and your pet learn the basics of obedience training in the comfort of your home! A certified trainer comes 
              | to your home each week to work with you and your pet. Training covers sit, down, stay, come, loose leash walking, and more.
            p What it includes:
            ul.list-disc.list-inside.ml-4
              li We’ll have a consultation complete with a goal planning session.
              li 4 weeks of training for you and your dog.
              li We’ll create a customized training program for your pet.
              li Weekly task list to practice with your pup.
              li A 30-minute check-in call each week.
              li Tune-up session after training ends.
              li 1-2 sessions in your home per week for training and coaching.
              li Choose a public location, and we’ll have two sessions on training with distraction.

            p $900 per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Live-Online-Pet-Training-Program') Live Online Pet Training Program
            p
              | Develop your dog’s skills and strengthen your bond while training your dog at home 
              | with the help of our certified trainers!

            h3 1-on-1 and Group Sessions Available via Zoom!

            p 
              | Attend one-on-one personalized pet training sessions via Zoom with your dog! Be granted 
              | access to our certified trainer’s training demo videos and optimize your pet’s skills 
              | in-home while receiving customized feedback to improve your pet’s retention and behavior.

            p Our Courses:
            ul.list-disc.list-inside.ml-4
              li Puppy Training
              li Basic Manners Training

            p What it includes:
            ul.list-disc.list-inside.ml-4
              li We’ll have a consultation complete with a goal planning session.
              li 4 weeks of training for you and your dog.
              li 1-3 sessions live online per week for training and coaching based on your pet’s needs.
              li 30-minute video review session.
              li Tune-up session after training ends.

            p $800 per student

            p 
              | Attend a group training session via Zoom with other pet parents and their fur babies! You 
              | will work with our certified trainers over a span of four weeks.
            
            p $80 per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Dog-Training-at-our-Center') Dog Training at Our Center
            p
              | Learn the basics of obedience training with your pet! Our center hosts courses 
              | for pets and pet parents at every level.

            p Courses include:
            ul.list-disc.list-inside.ml-4
              li Small dog socialization - $30 ($20 if currently enrolled in a training package)
              li Large dog socialization - $30 ($20 if currently enrolled in a training package)
              li Puppy Preschool - $350
              li Basic Obedience - $350
              li Intermediate - $350

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call for course placement
          
          div.mb-4.space-y-4
            h2.text-3xl(id='Train-and-Play') Train and Play
            p 
              | We take your pup on the learning experience of a lifetime! We pick your best friend 
              | up and drive over to our training center for attentive 5-hours of training and socialization 
              | exercises with a maximum of four other dogs. Then, we take your fur-friend home to show off their new tricks!

            p Offered Monday and Wednesday

            p $250 per day, per pet

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Half-Day-Train-and-Play') Half-Day Train and Play
            p
              | Leave the training and socialization to us! Your pup comes to the Paws Around Motown pet 
              | training center for 2-hours of attentive training and socialization exercises while making new dog-friends.

            p Offered Monday and Wednesday

            p $175 per day, per pet

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Individualized-Behavior-Plan-Session') Individualized Behavior Plan Session

            p For pet parents looking to book single training sessions based on a specific behavioral need.

            p Single sessions that you can book to create a custom learning path include:

            ul.list-disc.list-inside.ml-4
              li Basic obedience: sit, down, heel, stay, place
              li Some behavioral training: excessive barking, lunging on walks, etc
              li Socialization 
              li Puppy training: crate training, potty training, puppy manners, taking treats gently, biting and nipping 
              li Beginner: Basic obedience
              li Intermediate Class: Training with distraction, listening in public spaces, touch targeting
              li Advanced Class: Trick Training

            p $85 per lesson per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now
          
          div.mb-4.space-y-4
            h2.text-3xl(id='Training-for-Pet-Parents') Pet Parents - Pet First-Aid and CPR*
            p 
              | There is no 911 for pets. This course leads to certification in Pet First Aid and CPR so that 
              | you can save your pet’s life in an emergency.

            h4 Live online 5-hour pet first-aid and CPR class

            ul.list-disc.list-inside.ml-4
              li General Course - $75
              li Certification Course - $135

            p.font-italic *When COVID restrictions lift, we will have these courses in-person, too.

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

block footer
  include components/footer.pug
