extends layout

block header
  include components/header.pug

block content
  div.container
    h1.text-4xl.mt-4.mb-3 Accredited In-Home and Center-Based Dog Training

    div.container.space-y-4
      div.row
        section
          p 
            span.font-weight-bold Office Hours: 
            | 10 AM - 6 PM 
      div.row.space-y-4
        p Our owner, Becky, and our general manager, Megan, are Certified Dog Obedience Trainers. Schedule 
          | training as a one-on-one session with your dog or with you and your dog.
        img.img-fluid(style='max-height:200px' src='/images/abc-certified-dog-trainer.png' alt='Animal Behavior College Certified Dog Trainer')

    div.container
      div.row.py-3
        div.pricing-container
          div.mb-4.space-y-4
            h2.text-3xl(id='In-Home-Obedience-Training-Package') In-Home Obedience Training Package
            p 
              | You and your pet learn the basics of obedience training in the comfort of your home! A certified trainer comes 
              | to your home each week to work with you and your pet. Training covers sit, down, stay, come, loose leash walking, and more.
            p What it includes:
            ul.list-disc.list-inside.ml-4
              li We’ll have a consultation complete with a goal planning session.
              li 4 weeks of training for you and your dog.
              li We’ll create a customized training program for your pet.
              li Weekly task list to practice with your pup.
              li A 30-minute check-in call each week.
              li Tune-up session after training ends.
              li 1-2 sessions in your home per week for training and coaching.
              li Choose a public location, and we’ll have two sessions on training with distraction.

            p $900 per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Lunch-and-Learn-Training-Package') Lunch and Learn Training Package
            p 
              | A certified trainer will come a minimum of twice per week for a 30-45 minute session 
              | to walk your dog and teach basic leash etiquette. Pet owners will meet with the trainer once 
              | per week for a transfer session as part of this regimen to reinforce the new skills at home.
            p $55 per 30-45 minute session
            p $85 per transfer session

            p.font-italic *Dog must have previous training for basic obedience skills to qualify
            p.font-italic *Dogs must undergo an assessment as their first session to qualify

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Live-Online-Pet-Training-Program') Live Online Pet Training Program
            p
              | Develop your dog’s skills and strengthen your bond while training your dog at home 
              | with the help of our certified trainers!

            h3 1-on-1 and Group Sessions Available via Zoom!

            p 
              | Attend one-on-one personalized pet training sessions via Zoom with your dog! Be granted 
              | access to our certified trainer’s training demo videos and optimize your pet’s skills 
              | in-home while receiving customized feedback to improve your pet’s retention and behavior.

            p Our Courses:
            ul.list-disc.list-inside.ml-4
              li Puppy Training
              li Basic Manners Training

            p What it includes:
            ul.list-disc.list-inside.ml-4
              li We’ll have a consultation complete with a goal planning session.
              li 4 weeks of training for you and your dog.
              li 1-3 sessions live online per week for training and coaching based on your pet’s needs.
              li 30-minute video review session.
              li Tune-up session after training ends.

            p $800 per student

            p 
              | Attend a group training session via Zoom with other pet parents and their fur babies! You 
              | will work with our certified trainers over a span of four weeks.
            
            p $80 per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Dog-Training-at-our-Center') Dog Training at Our Center
            p
              | Learn the basics of obedience training with your pet! Our center hosts courses 
              | for pets and pet parents at every level.

            p Courses include:
            ul.list-disc.list-inside.ml-4
              li Small dog socialization - $30 ($20 if currently enrolled in a training package)
              li Large dog socialization - $30 ($20 if currently enrolled in a training package)
              li Puppy Preschool - $150
              li Basic Obedience - $125
              li Intermediate - $125
              li Advanced - $125

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call for course placement
          
          div.mb-4.space-y-4
            h2.text-3xl(id='Train-and-Play') Train and Play
            p 
              | We take your pup on the learning experience of a lifetime! We pick your best friend 
              | up and drive over to our training center for attentive 5-hours of training and socialization 
              | exercises with a maximum of four other dogs. Then, we take your fur-friend home to show off their new tricks!

            p Offered Monday and Wednesday

            p $250 per day, per pet

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Half-Day-Train-and-Play') Half-Day Train and Play
            p
              | Leave the training and socialization to us! Your pup comes to the Paws Around Motown pet 
              | training center for 2-hours of attentive training and socialization exercises while making new dog-friends.

            p Offered Monday and Wednesday

            p $175 per day, per pet

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

          div.mb-4.space-y-4
            h2.text-3xl(id='Individualized-Behavior-Plan-Session') Individualized Behavior Plan Session

            p For pet parents looking to book single training sessions based on a specific behavioral need.

            p Single sessions that you can book to create a custom learning path include:

            ul.list-disc.list-inside.ml-4
              li Basic obedience: sit, down, heel, stay, place
              li Some behavioral training: excessive barking, lunging on walks, etc
              li Socialization 
              li Puppy training: crate training, potty training, puppy manners, taking treats gently, biting and nipping 
              li Beginner: Basic obedience
              li Intermediate Class: Training with distraction, listening in public spaces, touch targeting
              li Advanced Class: Trick Training

            p $85 per lesson per student

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now
          
          div.mb-4.space-y-4
            h2.text-3xl(id='Training-for-Pet-Parents') Pet Parents - Pet First-Aid and CPR*
            p 
              | There is no 911 for pets. This course leads to certification in Pet First Aid and CPR so that 
              | you can save your pet’s life in an emergency.

            h4 Live online 5-hour pet first-aid and CPR class

            ul.list-disc.list-inside.ml-4
              li General Course - $75
              li Certification Course - $135

            p.font-italic *When COVID restrictions lift, we will have these courses in-person, too.

            a.btn.paws-btn_primary.mx-1(href='tel:248-729-6772') Call now

block footer
  include components/footer.pug
