:root {
  --brand-background_light: #F5F4F5;
  --brand-background_dark: #20273E;
  --brand-background_dark-faded: rgba(32, 39, 62, 0.7);
  --brand-accent_light: #75A2B0;
  --brand-accent_light-faded: rgba(117, 162, 176, 0.7);
  --brand-accent_dark: #D23D3F;
  --brand-primary: #E5D315;
  --brand-primary_faded: rgba(229, 211, 21, 0.7);
  --brand-primary_dark: #C8B912;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

p,
a,
button {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: var(--brand-background_light);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--brand-background_dark);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--brand-background_dark-faded);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--brand-background_dark-faded);
}


.paws-header__logo {
  height: 100px;
}

.paws-hero {
  background: url('/images/becky-running-with-dogs_split.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 500px;
  display: flex;
}

.paws-hero__container {
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  color: var(--brand-background_light);
  display: flex;
  justify-content: start;
  align-items: center;
}

.paws-hero__content {
  width: 400px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.paws-hero__content h1,
.paws-content_mobile h1 {
  font-weight: 700;
}

.paws-hero__content h3,
.paws-content_mobile h3 {
  font-weight: 400;
}

.paws-hero__action-items {
  color: white;
}

.paws-btn_primary {
  background-color: var(--brand-primary);
  border: var(--brand-primary);
}

.paws-btn_primary:hover {
  background-color: var(--brand-primary_dark);
  border: var(--brand-primary_dark);
}

.paws-btn_secondary {
  background-color: var(--brand-accent_light-faded);
  border: 1px solid var(--brand-accent_light-faded);
  color: var(--brand-background_light);
}

.paws-btn_secondary:hover {
  background-color: var(--brand-accent_light);
}


@media (min-width: 768px) {
  .paws-content-container_mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .paws-header__logo {
    height: 100px;
  }

  .paws-hero {
    height: 280px;
    background: url('/images/becky-running-with-dogs_small.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .paws-hero__content {
    display: none;
  }

  .paws-content-container_mobile {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  .paws-content_mobile {
    width: 400px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1rem;
  }
}

@media (max-width: 360px) {
  .paws-header__logo {
    height: 100px;
  }
}

.paws__pricing-card {
  height: 100%;
}

.btn-primary {
  background-color: #2292A4;
  border-color: #2292A4;
  color: #F5EFED;
}

.featurette-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.paws-footer__links {
  color: #fff;
}

.paws-footer__contact {
  color: #fff
}

.paws-footer__social {
  margin-top: 20px;
  margin-bottom: 0;
}

.paws-footer__social-link_facebook {
  background-color: #3b5998;
  transition: all .2s ease-in-out;
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 100%;
  font-size: 25px;
  line-height: 50px;
}

.paws-footer__social-link_instagram {
  background-color: #3f729b;
  transition: all .2s ease-in-out;
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 100%;
  font-size: 25px;
  line-height: 50px;
}

.paws-footer__social-link_google {
  background-color: #dd4b39;
  transition: all .2s ease-in-out;
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 100%;
  font-size: 25px;
  line-height: 50px;
}

.paws-heading_secondary {
  color: #6c757d;
}

.paws__pricing-card-image {
  align-items: flex-start;
  display: flex;
  margin-bottom: .75rem;
}

.paws__pricing-card img {
  border-radius: .25rem;
  height: auto;
  max-width: 100%;
}

.paws-testimonial__heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.paws-testimonial__review {
  background-color: var(--brand-background_light);
  padding: 0 1rem;
  width: 100%;
}

.paws-testimonial__review:not(:first-child) {
  margin-top: 1rem;
}

.paws-testimonial__quotation-mark {
  color: var(--brand-accent_dark);
  font-size: 4rem;
  margin-bottom: -2.5rem;
}

.paws-testimonial__quote {
  color: var(--brand-background_dark);
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

.paws-testimonial__name {
  color: var(--brand-background_dark-faded);
  font-size: 1.25rem;
  font-weight: 700;
}

.pricing-container {
  padding: 0;
}

.pricing-section {
  border-width: 1px 1px 0 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(32, 39, 62, 0.4);
  padding-left: 15px;
  padding: 1rem;
}

.pricing-section:last-child {
  border-bottom-width: 1px;
}

.pricing-section__expanded {
  display: none;
}