doctype html
html(lang='en')
  head
    title= title

    meta(charset="utf-8")
    meta(name="title" content= title)
    meta(name="description" content="Paws Around Motown - Professional Dog Walking and Pet Services around Metro Detroit")
    meta(name="author" content="Becky Lea")
    meta(name="keywords" content="Dogs,Walking,Metro Detroit,Puppies,Dog Walkers,Dog Walking,Berkley,Royal Oak,Ferndale,Huntington Woods,Pleasant Ridge,Oak Park, West Bloomfield,Waterford,Lathrup Village,Franklin,Beverly Hills,Detroit")
    meta(name="google-site-verification" content="4MW2Yc1iry7pSGIfxv86ruYNMnBaBHNztJS2Q7Q7WDE")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-60585727-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-60585727-1');

  body
    header
    
    block content

    footer
