extends ../layout

include mixins/summary.pug

block header
  include ../components/header.pug

block content
  div.container
    h1.text-4xl.mt-4 The Paws Blog

    div.flex.justify-between.mx-auto.my-4
      div.min-w-full(class="lg:w-8/12")
        each article in articles
          +summary(article)
        else
          p Oops, there aren't any articles to see right now.

block footer
  include ../components/footer.pug