<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Paws Around Motown: Pricing</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60585727-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-60585727-1');
	</script>
</head>

<body>

	<!-- Header -->
	<header>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-md navbar-dark sticky-top">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img class="paws-header__logo" src="{% static 'base/images/pawsaroundmotown-horizontal-crop.png' %}" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Pricing
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/team">Our Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/faq">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- Page Content -->
	<div class="container">

		<ol class="breadcrumb mt-4">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active">Pricing</li>
		</ol>

		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">Pricing</h1>

		<div class="container">

			<div class="row">

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="dog-walking">Dog Walking and Let Outs</h4>
							<div class="card-text">
								<p>Whether you have an unruly pet or your pet just needs to get out for a break, we’ve got you covered! A
									properly exercised dog is a happy dog, and happy dogs make for happy families! Paws Around Motown provides
									safe, private, on-leash exercise for your beloved pup! These range from 20 to 60 minutes, and always include
									fresh water, undivided attention, positive reinforcement, and a safe environment for your pet to expel their
									extra energy! Walk hours are between the hours of 8 am and 8 pm, but early and late walks can be added for a
									small fee.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>20 Minutes - $18</li>
									<li>30 Minutes - $20</li>
									<li>45 Minutes - $26</li>
									<li>60 Minutes - $30</li>
									<li>Add $5.50 if walk is before 8 am or after 8 pm</li>
									<li>Add $5.50 for each additional dog if more than 2 dogs</li>
									<li>On demand walks/visits may require an additional fee</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="pet-sitting">Pet Sitting</h4>
							<div class="card-text">
								<p>Going out of town and prefer your pet stay in the comfort of their own home? Not all pets require an
									overnight companion. Paws Around Motown provides private vacation services that allow your pet to stay in
									their own safe and comfortable environment! We will come by multiple times per day (minimum of 3 per day for
									dogs, and once per day for cats) to provide your pet with individualized care! This service includes but is
									not limited to; bringing in the mail, bringing the trash cans in and out, litter box maintenance, medication
									administration, feedings, fresh water, and private exercise and play! Visit hours are between the hours of 8
									am and 8 pm, but early and late visits can be added for a small fee.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>$24 per visit</li>
									<li>This visit is 45 minutes in length. We require a minimum of three visits per day for dogs and one visit per day for cats</li>
									<li>Add $5.50 if visit is before 8 am or after 8 pm</li>
									<li>Add $5.50 for each additional dog and $3.50 for each additional cat if more than 2 dogs or cats</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

			<div class="row">

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="overnights">Overnight Pet Sitting</h4>
							<div class="card-text">
								<p>If you feel like your pet needs a bedtime companion, then overnight pet sitting is for you! This service is
									designed for pets who require the snuggles of a human to get through the night. We will provide 12 hours of
									overnight care for your beloved baby. This service also includes the same things as our pet sitting visits,
									but with the undivided attention of an overnight companion. Typically paired with at least one midday service,
									this can provide your pet with the normalcy of having their routines undisturbed! This is a custom quoted
									service and available on a first come, first serve basis!</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li><a href="tel:248-729-6772">Call</a> for a custom quote</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="everything-but-the-slumber">Everything But The Slumber</h4>
							<div class="card-text">
								<p>This service is designed for pets that don’t necessarily need a sleeping companion, but would benefit from
									an extended period of time with their pet sitter before bedtime. With Everything but the Slumber, your pet(s) get 3
									hours of undivided attention in the evening and all of the bells and whistles of an overnight pet sitting service, without
									someone sleeping in your home! We will return first thing in the morning for 1 hour to have breakfast and another private
									walk.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>$110 per sit</li>
									<li>Add $5.50 for each additional dog and $3.50 for each additional cat if more than 2 dogs or cats</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

			<div class="row">

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="obedience-training">Basic Obedience Training</h4>
							<div class="card-text">
								<p>Have a certified dog trainer come to your home and work with you and your dog, on a
									weekly basis, to learn basic obedience cues: sit, down, loose leash walking, etc.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>$85 per session</li>
									<li>Each session lasts approxmately 45 to 60 minutes</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="lunch-and-learn">Lunch and Learn</h4>
							<div class="card-text">
								<p>Need assistance with the consistency and repetition of training?
									 Have a certified trainer come and walk your dog at lunchtime while 
									 training on a foundation of proper and polite walking skills. 
									 A minimum of two sessions per week is required for this service 
									 with a weekly to bi-weekly Basic Obedience Training session booked 
									 for a trainer to work with the family. Space is limited.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>$55 per session</li>
									<li>Each session lasts approxmately 30 to 45 minutes</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

			<div class="row">

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="yard-waste-cleanup">Yard Waste Cleanup Service</h4>
							<div class="card-text">
								<p>Why spend time you don’t have cleaning up your pet’s waste, when we can do it for you? Treat yourself to
									weekly yard waste clean ups!</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>Spring Cleanup/Initial Cleanup Service</li>
									<ul>
										<li>Before we begin regular service we will do a first time clean up</li>
										<li>One dog - $50</li>
										<li>Two dogs - $65</li>
										<li>Three or more dogs - $75</li>
									</ul>
									<li>Regular Service</li>
									<ul>
										<li>One time per week</li>
										<li>One dog - $20</li>
										<li>Two dogs - $26</li>
										<li>Three or more dogs - $32</li>
									</ul>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title" id="pet-taxi">Pet Taxi</h4>
							<div class="card-text">
								<p>Transport pets and pet care supplies to and from boarding facility, home of a family member or friend, 
									veterinarian, groomer, or other location.</p>
								<h5 class="paws-heading_secondary">Pricing</h5>
								<ul>
									<li>$25 per 30 minutes</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

			<div class="row">

				<div class="col-sm-12 col-md-12 my-3">
					<div class="paws__pricing-card card">
						<div class="card-body">
							<h4 class="card-title">Additional Fees</h4>
							<div class="card-text">
								<h5 class="paws-heading_secondary">Last Minute Requests</h5>
								<p>If a service is requested less than 24 hours in advance, there will be an additional $10 surcharge.</p>

								<h5 class="paws-heading_secondary">Early and Late Walks/Visits</h5>
								<p>Normal visit hours are from 8 am until 8 pm. We will provide visits outside of our normal business hours for
									an additional $5.50 per walk/visit.</p>

								<h5 class="paws-heading_secondary">Cancellations</h5>
								<p>During non-holiday periods, cancellations must be received no later than 24 hours in advance. Less than
									24-hour notice will result in clients being billed 50% of the cancelled service. Cancellation fees may be
									waived due to inclement weather conditions. Cancellations made the day of service, vacation visits, and during
									holiday weeks and peak vacation periods may not be refunded or credited.</p>

								<h5 class="paws-heading_secondary">Holiday Services</h5>
								<p>Additional $10.50 charge for each visit on the following holidays:
									New Years Day, Easter, Memorial Day, Fourth of July, Labor Day, Thanksgiving Day, Christmas Eve, Christmas
									Day, New Years Eve</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</div>

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<div class="row">
				<div class="paws-footer__links col-sm col-md-6 col-lg-8">
					<h2>Links</h2>
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-lg-6">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="" href="/">Home</a>
									</li>
									<li class="nav-item">
										<a class="" href="/about">About</a>
									</li>
									<li class="nav-item">
										<a class="" href="/pricing">Pricing</a>
									</li>
									<li class="nav-item">
										<a class="" href="/blog">Blog</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-6 col-lg-6">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a href="/team">Our Team</a>
									</li>
									<li class="nav-item">
										<a href="/reviews">Reviews</a>
									</li>
									<li class="nav-item">
										<a href="/faq">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="paws-footer__contact col-sm col-md-6 col-lg-4">
					<h2>Contact Information</h2>
					<address>
						<i class="fas fa-map-marker-alt"></i>&nbsp;41000 Woodward Ave #350
						<br>&nbsp;&nbsp;&nbsp;&nbsp;Bloomfield Hills, MI 48304
						<br>
					</address>
					<address>
						<i class="fas fa-phone"></i>
						<a href="tel:248-729-6772">248-729-6772</a>
						<br>
						<i class="far fa-envelope"></i>
						<a href="mailto:support@pawsaroundmotown.com">support@pawsaroundmotown.com</a>
					</address>
				</div>
			</div>
			<p class="m-0 text-center text-white">Paws Around Motown LLC &copy; 2014-{% now 'Y' %}</p>
			<div class="paws-footer__social container text-center">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="paws-footer__social-link_facebook" href="https://www.facebook.com/pawsaroundmotown">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="paws-footer__social-link_instagram" href="https://www.instagram.com/pawsaroundmotown">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="paws-footer__social-link_google" href="https://goo.gl/maps/9ac8XNrH7NJ2">
							<i class="fab fa-google"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>

</body>

</html>