<!DOCTYPE html>
<html lang="en">

  <head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
	
		<title>Paws Around Motown: Pricing</title>
	
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		 crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
		 crossorigin="anonymous">
	
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
	
	</head>
	
	<body>
	
		<!-- Header -->
		<header>
			<!-- Navigation -->
			<nav class="navbar navbar-expand-md navbar-dark sticky-top">
				<div class="container">
					<a class="navbar-brand" href="/">
						<img class="paws-header__logo" src="https://pawsaroundmotown.com/images/pawsaroundmotown-horizontal-crop.png" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Pricing
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/blog">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/team">Our Team</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/faq">FAQ</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

    <!-- Page Content -->
    <div class="container">

			<ol class="breadcrumb mt-4">
				<li class="breadcrumb-item">
					<a href="/home">Home</a>
				</li>
				<li class="breadcrumb-item active">Pricing</li>
			</ol>

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Pricing</h1>

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12 mb-4">


        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<div class="row">
				<div class="paws-footer__links col-sm col-md-6 col-lg-8">
					<h2>Links</h2>
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-lg-6">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="" href="/">Home</a>
									</li>
									<li class="nav-item">
										<a class="" href="/about">About</a>
									</li>
									<li class="nav-item">
										<a class="" href="/pricing">Pricing</a>
									</li>
									<li class="nav-item">
										<a class="" href="/blog">Blog</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-6 col-lg-6">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a href="/team">Our Team</a>
									</li>
									<li class="nav-item">
										<a href="/reviews">Reviews</a>
									</li>
									<li class="nav-item">
										<a href="/faq">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="paws-footer__contact col-sm col-md-6 col-lg-4">
					<h2>Contact Information</h2>
					<address>
						<i class="fas fa-map-marker-alt"></i>&nbsp;41000 Woodward Ave #350
						<br>&nbsp;&nbsp;&nbsp;&nbsp;Bloomfield Hills, MI 48304
						<br>
					</address>
					<address>
						<i class="fas fa-phone"></i>
						<a href="tel:248-729-6772">248-729-6772</a>
						<br>
						<i class="far fa-envelope"></i>
						<a href="mailto:support@pawsaroundmotown.com">support@pawsaroundmotown.com</a>
					</address>
				</div>
			</div>
			<p class="m-0 text-center text-white">Paws Around Motown LLC &copy; 2014-{% now 'Y' %}</p>
			<div class="paws-footer__social container text-center">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="paws-footer__social-link_facebook" href="https://www.facebook.com/pawsaroundmotown">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="paws-footer__social-link_instagram" href="https://www.instagram.com/pawsaroundmotown">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="paws-footer__social-link_google" href="https://goo.gl/maps/9ac8XNrH7NJ2">
							<i class="fab fa-google"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	 crossorigin="anonymous"></script>

</body>

</html>